{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "react", "jsx-a11y", "import"],
  "extends": ["airbnb"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": [
      "warn",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "function-expression"
      }
    ],
    "max-len": ["error", 120],
    "react/sort-comp": [0],
    "object-curly-spacing": 0,
    "no-useless-escape": 2,
    "@typescript-eslint/no-unused-vars": "off",
    "no-unused-vars": "off",
    "no-console": [
      1,
      {
        "allow": ["warn", "error"]
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/no-danger": "off",
    "react/no-children-prop": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/jsx-closing-tag-location": 0,
    "no-use-before-define": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-unused-prop-types": "off",
    "react/require-default-props": "off",
    "react/button-has-type": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", ".tsx", ".js"]
      }
    ],
    "no-useless-constructor": "off",
    "no-empty-function": "off",
    "no-param-reassign": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
